div.olMap {
    z-index: 0;
    cursor: default;
    margin: 0 !important;
    padding: 0 !important;
}

div.olMapViewport {
    text-align: left;
}

.olLayerGoogleCopyright {
    left: 2px;
    bottom: 2px;
}

.olLayerGoogleV3.olLayerGoogleCopyright {
    right: auto !important;
}

.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 15px;
}

.olLayerGoogleV3.olLayerGooglePoweredBy {
    bottom: 15px !important;
}

.olControlAttribution {
    font-size: smaller;
    right: 3px;
    bottom: 4.5em;
    position: absolute;
    display: block;
}

.olControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
    font-size: smaller;
}

.olControlScaleLine {
    display: block;
    position: absolute;
    left: 70px;
    bottom: 20px;
    font-size: xx-small;
}

.olControlScaleLineBottom {
    border: solid 2px #000;
    border-bottom: none;
    margin-top: -2px;
    text-align: center;
}

.olControlScaleLineTop {
    border: solid 2px #000;
    border-top: none;
    text-align: center;
}

.olControlPermalink {
    right: 3px;
    bottom: 1.5em;
    display: block;
    position: absolute;
    font-size: smaller;
}

div.olControlMousePosition {
    bottom: 0;
    right: 3px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: smaller;
}

.olControlOverviewMapContainer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.olControlOverviewMapElement {
    background-color: #00008B;
    -moz-border-radius: 1em 0 0;
    padding: 10px 18px 10px 10px;
}

.olControlOverviewMapMinimizeButton, .olControlOverviewMapMaximizeButton {
    height: 18px;
    width: 18px;
    right: 0;
    bottom: 80px;
    cursor: pointer;
}

.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    background-image: url(img/blank.gif);
    cursor: move;
    border: 2px dotted red;
}

.olControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-image: url(img/overview_replacement.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.olLayerGeoRSSDescription {
    float: left;
    width: 100%;
    overflow: auto;
    font-size: 1em;
}

.olLayerGeoRSSClose {
    float: right;
    color: gray;
    font-size: 1.2em;
    margin-right: 6px;
    font-family: sans-serif;
}

.olLayerGeoRSSTitle {
    float: left;
    font-size: 1.2em;
}

.olControlNavigationHistory {
    background-image: url(img/navigation_history.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.olControlNavigationHistoryPreviousItemActive {
    background-position: 0 0;
}

.olControlNavigationHistoryPreviousItemInactive {
    background-position: 0 -24px;
}

.olControlNavigationHistoryNextItemActive {
    background-position: -24px 0;
}

.olControlNavigationHistoryNextItemInactive {
    background-position: -24px -24px;
}

div.olControlSaveFeaturesItemActive {
    background-image: url(img/save_features_on.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}

div.olControlSaveFeaturesItemInactive {
    background-image: url(img/save_features_off.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}

.olHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: #FFF;
    opacity: .5;
    font-size: 1px;
    filter: alpha(opacity=50);
}

.olHandlerBoxSelectFeature {
    border: 2px solid blue;
    position: absolute;
    background-color: #FFF;
    opacity: .5;
    font-size: 1px;
    filter: alpha(opacity=50);
}

.olControlPanPanel {
    top: 10px;
    left: 5px;
}

.olControlPanPanel div {
    background-image: url(img/pan-panel.png);
    height: 18px;
    width: 18px;
    cursor: pointer;
    position: absolute;
}

.olControlPanPanel .olControlPanNorthItemInactive {
    top: 0;
    left: 9px;
    background-position: 0 0;
}

.olControlPanPanel .olControlPanSouthItemInactive {
    top: 36px;
    left: 9px;
    background-position: 18px 0;
}

.olControlPanPanel .olControlPanWestItemInactive {
    position: absolute;
    top: 18px;
    left: 0;
    background-position: 0 18px;
}

.olControlPanPanel .olControlPanEastItemInactive {
    top: 18px;
    left: 18px;
    background-position: 18px 18px;
}

.olControlZoomPanel {
    top: 71px;
    left: 14px;
}

.olControlZoomPanel div {
    background-image: url(img/zoom-panel.png);
    position: absolute;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.olControlZoomPanel .olControlZoomInItemInactive {
    top: 0;
    left: 0;
    background-position: 0 0;
}

.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    top: 18px;
    left: 0;
    background-position: 0 -18px;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 36px;
    left: 0;
    background-position: 0 18px;
}

.olControlPanZoomBar div {
    font-size: 1px;
}

.olPopupCloseBox {
    background: url(img/close.gif) no-repeat;
    cursor: pointer;
}

.olImageLoadError {
    background-color: #FFC0CB;
    opacity: .5;
    filter: alpha(opacity=50);
}

.olCursorWait {
    cursor: wait;
}

.olDrawBox {
    cursor: crosshair;
}

.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown {
    cursor: 0;
}

.olControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0;
    width: 20em;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: #FFF;
    background-color: transparent;
}

.olControlLayerSwitcher .layersDiv {
    background-color: #00008B;
    padding: 5px 10px;
}

.olControlLayerSwitcher .layersDiv .baseLbl, .olControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv, .olControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
}

.olControlLayerSwitcher .maximizeDiv, .olControlLayerSwitcher .minimizeDiv {
    width: 18px;
    height: 18px;
    top: 5px;
    right: 0;
    cursor: pointer;
}

.olBingAttribution {
    color: #DDD;
}

span.olGoogleAttribution a {
    color: #77C;
}

.olControlNavToolbar, .olControlEditingToolbar {
    margin: 5px 5px 0 0;
}

.olControlNavToolbar div, .olControlEditingToolbar div {
    background-image: url(img/editing_tool_bar.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 22px;
    cursor: pointer;
    margin: 0 0 5px 5px;
}

.olControlEditingToolbar {
    right: 0;
    top: 0;
}

.olControlNavToolbar {
    top: 295px;
    left: 9px;
}

.olControlEditingToolbar div {
    float: right;
}

.olControlNavToolbar .olControlNavigationItemInactive, .olControlEditingToolbar .olControlNavigationItemInactive {
    background-position: -103px -1px;
}

.olControlNavToolbar .olControlNavigationItemActive, .olControlEditingToolbar .olControlNavigationItemActive {
    background-position: -103px -24px;
}

.olControlNavToolbar .olControlZoomBoxItemInactive {
    background-position: -128px -1px;
}

.olControlNavToolbar .olControlZoomBoxItemActive {
    background-position: -128px -24px;
}

.olControlEditingToolbar .olControlDrawFeaturePointItemInactive {
    background-position: -77px -1px;
}

.olControlEditingToolbar .olControlDrawFeaturePointItemActive {
    background-position: -77px -24px;
}

.olControlEditingToolbar .olControlDrawFeaturePathItemInactive {
    background-position: -51px -1px;
}

.olControlEditingToolbar .olControlDrawFeaturePathItemActive {
    background-position: -51px -24px;
}

.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive {
    background-position: -26px -1px;
}

.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive {
    background-position: -26px -24px;
}

div.olControlZoom {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 2px;
}

div.olControlZoom a {
    display: block;
    color: #FFF;
    font-size: 18px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 22px;
    width: 22px;
    line-height: 19px;
    background: rgba(0, 60, 136, 0.5);
    filter: alpha(opacity=80);
    margin: 1px;
    padding: 0;
}

div.olControlZoom a:hover {
    background: rgba(0, 60, 136, 0.7);
    filter: alpha(opacity=100);
}

a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}

a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}

.olLayerGrid .olTileImage {
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

div.olLayerDiv, .olControlNoSelect {
    -khtml-user-select: none;
    -moz-user-select: none;
}

.olPopupContent, .olFramedCloudPopupContent {
    overflow: auto;
    padding: 5px;
}

.olDragDown, .olControlDragFeatureOver {
    cursor: move;
}

.olBingAttribution.road, .olGoogleAttribution {
    color: #333;
}

.olGoogleAttribution.hybrid, .olGoogleAttribution.satellite, span.olGoogleAttribution.hybrid a, span.olGoogleAttribution.satellite a {
    color: #EEE;
}

@media only screen and max-width

600
px {

div.olControlZoom a:hover {
    background: rgba(0, 60, 136, 0.5);
}

    }